<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0"
         metadata-complete="true">
    <display-name>Titap Application</display-name>

    <servlet>
        <servlet-name>WelcomeServlet</servlet-name>
        <servlet-class>web.WelcomeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>WelcomeServlet</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AlternativesServlet</servlet-name>
        <servlet-class>web.AlternativesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AlternativesServlet</servlet-name>
        <url-pattern>/alternatives</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CriteriaServlet</servlet-name>
        <servlet-class>web.CriteriaServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CriteriaServlet</servlet-name>
        <url-pattern>/criteria</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>PersonsServlet</servlet-name>
        <servlet-class>web.PersonsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PersonsServlet</servlet-name>
        <url-pattern>/persons</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>MarksServlet</servlet-name>
        <servlet-class>web.MarksServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MarksServlet</servlet-name>
        <url-pattern>/marks</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>VectorServlet</servlet-name>
        <servlet-class>web.VectorServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>VectorServlet</servlet-name>
        <url-pattern>/vectors</url-pattern>
    </servlet-mapping>

    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <page-encoding>UTF-8</page-encoding>
        </jsp-property-group>
    </jsp-config>
</web-app>